<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.intro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CurVision"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Intro.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name=".news_4"
            android:exported="false" />
        <activity
            android:name=".news_3"
            android:exported="false" />
        <activity
            android:name=".news_2"
            android:exported="false" />
        <activity
            android:name=".news_1"
            android:exported="false" />
        <activity
            android:name=".vehiclespage"
            android:exported="false" />
        <activity
            android:name=".mapspage"
            android:exported="true" />
        <activity
            android:name=".registerpage"
            android:exported="true" />
        <activity
            android:name=".loginpage"
            android:exported="true" />
        <activity
            android:name=".historypage"
            android:exported="true" />
        <activity
            android:name=".emergencypage"
            android:exported="true" />
        <activity
            android:name=".homepage"
            android:exported="true" />
        <activity
            android:name=".LoginRegister"
            android:exported="true" />
        <activity
            android:name=".Introduction"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity android:name=".profilepage"
            android:exported="true"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAJmRSCXQOUgjmNdskQ4TwLwTgvViW-xNA"/>

        <receiver android:name=".broadcastreceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="GEOFENCE_TRANSITION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
